<div class="container">

  <div class="cajon-nuevo mb-4">
    <button class="btn bg-info text-white" data-toggle="modal" data-target="#crear-usuario-modal"><i
        class="fas fa-plus"> Crear
        nuevo usuario</i></button>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="bg-danger text-white">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nick</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Imagen</th>
        <th scope="col">Rol</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of usuarios; let i = index">
      <tr scope="row">
        <td>{{user.id}}</td>
        <td>{{user.nick}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.email}}</td>
        <td><img src="{{ usuariosservice.URL_IMG + user.id + '/' + user.image }}" height="30" width="30"></td>
        <td>{{user.rol}}</td>
        <td>{{user.createdAt}}</td>
        <td>
          <a data-toggle="modal" data-target="#editar-usuario-modal"><i class="fas fa-edit mr-2 text-success"></i></a>
          <a (click)="eliminarUsuario(user, i)"><i class="fas fa-trash-alt mr-2 text-danger"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-formuser editar="true" (refrescar)="comprobarRefresco($event)"></app-formuser>
<app-formuser crear="true" (refrescar)="comprobarRefresco($event)"></app-formuser>