<div class="pagina">
  <header class="header">
          <div class="nombre-sitio">
              <h1 class="escritorio">Spica Panel</h1>
              <h1 class="movil">SP</h1>
          </div>
          <div class="barra">
              <div class="menu-izquierdo">
                  <i class="fas fa-arrow-left"></i>
                  <i class="fas fa-arrow-right"></i>
              </div>
              <div class="menu-derecho">
                  <div class="cerrar caja" >
                      <a class="cerrar-sesion" (click)="cerrarsesion()">Cerrar Sesion</a>
                  </div>
              </div>
          </div>
  </header>
  <main class="contenedor-principal">
      <aside class="sidebar">
              <div class="usuario" *ngIf="!isLogged()">
                <p>Bienvenid@: <span>Admin</span></p>
              </div>
              <div class="usuario" *ngIf="isLogged()">
                <img src="{{ authservice.loggedUser.image }}">
                <p>Bienvenid@: <span>{{authservice.loggedUser.nombre}}</span></p>
              </div>

              <div class="menu-admin">
                  <h2>Menú de Administración</h2>
                  <ul class="menu">
                      <li>
                          <a href="#">
                              <i class="fas fa-address-book"></i>
                              Usuarios
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fas fa-archive"></i>
                              Categorías
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fas fa-newspaper"></i>
                              Noticias
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fas fa-comments"></i>
                            Comentarios
                        </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fas fa-bell"></i>
                              Notificaciones
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fas fa-pencil-alt"></i>
                              Editar Perfil
                          </a>
                      </li>
                  </ul>
              </div>
      </aside>
      <div class="contenido">
        <router-outlet></router-outlet>
      </div>
  </main>
</div>