@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");
$bgcolor: #48bce2;
$black: #000;

.login-header {
  margin: 10px 20% 0px;
  padding: 20px;
  border: 2px #d91414 solid;
  h1 {
    cursor: default;
    color: #d91414;
    font-size: 3em;
    opacity: 1;
    font-family: "Oswald", sans-serif;
  }
  p {
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: 10px;
    font-size: 1.5em;
    color: #fff;
    padding: 10px;
  }
}
.login-form {
  border: 2px #d91414 solid;
  margin: 0 20%;
  padding: 20px;
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 2em;
    border: 1px#D91414 solid;
    font-size: 1.5em;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Open Sans Condensed", sans-serif;
  }
  input[type="submit"] {
    height: 2em;
    width: 20%;
    background: #d91414;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    font-family: "Open Sans Condensed", sans-serif;
  }
  a {
    color: #fff - 50;
    cursor: pointer;
  }
}

.mensaje-error {
  color: #730a0a;
  background-color: #f68080;
  font-size: 24px;
}
