<div class="container">
  <table class="table">
    <thead class="bg-danger text-white">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titular</th>
        <th scope="col">Contenido</th>
        <th scope="col">Imagen</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha creación</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>